default_language_version:
  node: system

exclude: |
  (?x)^(
    (.*/)?package-lock\.json|
    (.*/)?poetry\.lock
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: .*\.json-result
      - id: file-contents-sorter
      - id: pretty-format-json
        args: [--autofix, --indent, '4']
        exclude: |
          (?x)^(
            (.*)?(cdk|package|tsconfig|tslint).json
          )$
        name: Pretty Format Json (indent=4)
      - id: pretty-format-json
        args: [--autofix, --indent, '2']
        files: |
          (?x)^(
            (.*)?(cdk|package|tsconfig|tslint).json
          )$
        name: Pretty Format Json (indent=2)
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: [--fix=lf]
  - repo: https://github.com/ITProKyle/pre-commit-hook-yamlfmt
    rev: v0.3.1
    hooks:
      - id: yamlfmt
        args: [--mapping, '2', --offset, '2', --sequence, '4']
        files: |
          (?x)^(
            \.github/(?!dependabot).*\.(yaml|yml)|
            \.markdownlint.yml|
            \.pre-commit-config.yaml|
          )$
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.2
    hooks:
      - id: toml-sort-fix
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.21
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-frontmatter
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-toc
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
